.label.badge-pill {
  border-radius: 1em;
  margin: 0 0.25em;
}

.badge-closed {
  background-color: #008cba;
  color: #fff;
}

.badge-open {
  background-color: #f7911d;
  color: #fff;
}

.btn-closed {
  background-color: #244e6f;
  color: #fff;
}

/* .strike-line {
    text-decoration: line-through;
} */

.notify-section {
  width: 100%;
  margin: 0 auto;
}

.notify {
  font-size: 1.5rem !important;
  color: #000;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  background: #a9a9a9;
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px 15px;
}

#empty-desc,
#empty-assign,
#empty-both {
  display: none;
}
